# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment
venv/
env/
env.bak/
venv.bak/

# IDEs e editores (exemplo do VSCode)
.vscode/

# Dependências do sistema
*.egg-info/
*.eggs/

# Arquivos de configuração sensíveis
.env
*.env

# Arquivos de log
*.log

# ChromeDriver e outros drivers
chromedriver/
geckodriver/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de testes (caso você use pytest ou outros)
*.coverage
*.hypothesis/
